<!-- Header -->
<header id="header">
    <nav id="nav" class="navbar">
        <ul>
            <!--<li><a href="#banner">Home</a></li>
            <li><a href="#one">Problematica</a></li>-->
            <li><a href="../../../assets/docs/ContenidoPesamientoAlgoritmico.pdf">Contenidos</a></li>
            <li><a href="../../../assets/docs/Targets.pdf">Targets para RA </a></li>
            <li><a href="../../../assets/docs/GuionDeDesarrollo.pdf">Guion de desarrollo</a></li>
            <li><a href="../../../assets/docs/TesisPensamientoAlgoritmico.pdf">Documentación proyecto</a></li>
            <!-- <li><a href="elements.html">Elements</a></li> -->
            <li>
                <a href="#two" class="button primary title">
                    Algo virtual

                </a>
            </li>
        </ul>
    </nav>
    
</header>
<div id="navPanel">
    <nav id="nav">
        <a class="link depth-0" href="./assets/docs/ContenidoPesamientoAlgoritmico.pdf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Contenidos</a>
        <a class="link depth-0" href="./assets/docs/Targets.pdf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Targets para RA</a>
        <a class="link depth-0" href="./assets/docs/TesisPensamientoAlgoritmico.pdf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Documentación proyecto</a>
        <a class="link depth-0 title" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Algo virtual</a>
    </nav>
</div>