<!-- Header -->
<header id="header">
    <nav id="nav" class="navbar">
        <ul>
            <li><a href="#banner">Home</a></li>
            <li><a href="#one">Problematica</a></li>
            <li><a href="./assets/docs/ContenidoPesamientoAlgoritmico.pdf" target="_blank">Contenidos</a></li>
            <li><a href="./assets/docs/Targets.pdf" target="_blank">Targets para RA</a></li>
            <li><a href="./assets/docs/GuionDeDesarrollo.pdf" target="_blank">Guion de desarrollo</a></li>
            <li><a href="./assets/docs/TesisPensamientoAlgoritmico.pdf" target="_blank">Documentación proyecto</a></li>
            <li>
                <a href="./assets/apk/AlgoVirtual.apk" class="button special icon solid fa-download" style="margin-right: 8px;">
                    Descargar APK
                </a>
            </li>
            <li>
                <a href="#two" class="button primary title">
                    Algo virtual
                </a>
            </li>
        </ul>
    </nav>
</header>