<!-- Header -->
<header id="header">
    <nav id="nav" class="navbar">
        <ul>
            <!--<li><a href="#banner">Home</a></li>
            <li><a href="#one">Problematica</a></li>-->
            <li><a href="../../../assets/docs/ContenidoPesamientoAlgoritmico.pdf">Contenidos</a></li>
            <li><a href="../../../assets/docs/Targets.pdf">Targets para RA </a></li>
            <li><a href="../../../assets/docs/GuionDeDesarrollo.pdf">Guion de desarrollo</a></li>
            <li><a href="../../../assets/docs/TesisPensamientoAlgoritmico.pdf">Documentación proyecto</a></li>
            <!-- <li><a href="elements.html">Elements</a></li> -->
            <li>
                <a href="#two" class="button primary title">
                    Algo virtual

                </a>
            </li>
        </ul>
    </nav>
</header>