<section id="one" class="spotlight style1 bottom backgraund">
    <span class="image fit main"><img src="../../../assets/images/pic04.jpg" alt="" /></span>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">
                    <header>
                        <h2>Formulación del problema</h2>
                        <p>¿Puede el pensamiento algorítmico y la realidad virtual conformar una estrategia de enseñanza universitaria?</p>
                    </header>
                </div>
                <div class="col-4 col-12-medium">
                    <h3>Objetivo</h3>
                    <p>Promover el desarrollo de pensamiento algorítmico mediante procesos de realidad virtual como estrategia de enseñanza aplicado a docentes universitarios de la UNICESMAG.
                    </p>
                </div>
                <div class="col-4 col-12-medium">
                    <h3>¿Cómo hacerlo?</h3>
                    <p>Caracterizando los procesos de realizad virtual, pensamiento algorítmico y estrategias de aprendizaje para la construccion de una herramienta de realidad virtual que permitan una integración y aplicabilidad en la labor de enseñanza
                        que cumplen los docentes universitarios, asi como su respectiva validación que determine el impacto del tratamiento experimental propuesto en este estudio con docentes de la UNICESMAG.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#two" class="goto-next scrolly" (click)="scrollTo('#two', $event)">Next</a>
</section>