<!-- Banner -->
<section id="banner" class="animacionSalir">
    <div class="content">
        <header>
            <h2 class="titleSup">ALGO</h2>
            <h2 class="titleInf">VIRTUAL</h2>
            <p>Realidad virtual para el desarrollo de pensamiento<br/> algorítmico en docentes universitarios,<br/> caso universidad Cesmag.</p>
            <ul class="actions" style="margin-top: 2em;">
                <li>
                    <a href="./assets/apk/AlgoVirtual.apk" class="button primary icon solid fa-download">
                        Descargar App (APK)
                    </a>
                </li>
                <li>
                    <a href="#two" class="button scrolly" (click)="scrollTo('#two', $event)">
                        Ver Demostración
                    </a>
                </li>
            </ul>
        </header>
        <span class="image"><img src="./../../../assets/images/slider01/bubble.png" alt="" /></span>
    </div>
    <a href="#one" class="goto-next scrolly" (click)="scrollTo('#one', $event)">Next</a>
</section>