<footer id="footer">
    <ul class="icons">
        <li><a href="https://github.com/algovirtual2020" target="_blank" rel="noopener noreferrer" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:daanii2013@gmail.com" class="icon solid alt fa-envelope"><span class="label">Gmail</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCRU9HfQQ5D6RfEGO8pmkrzw?view_as=subscriber" target="_blank" rel="noopener noreferrer" class="icon brands alt fa-youtube"><span class="label">Youtube</span></a></li>
    </ul>
    <ul class="copyright">
        <li><a href="mailto:daanii2013@gmail.com" style="color: inherit; text-decoration: none;">daanii2013@gmail.com</a></li>
        <li> {{ano}}</li>
    </ul>
</footer>